@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: SchoolBell;
  overflow-x: hidden;
  /* background-color: #222; */
  /* color: #fff; */

}

body{
  background-color: #222 !important;
}

.containerPersonagens {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* gap: 0.5rem; */
  padding: 1rem;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  /* top: 50px; */
  width: 90vw;
  overflow: hidden;
  max-width: 90vw;
  border-radius: 2rem;
  color: #fff;
}

.Gif{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(3, 3, 3);
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.Gif  img{
  width: 300px;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.Gif p{
  font-size: 2rem;
  color: #fff;
}

