@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: SchoolBell;
  /* background-color: #222; */
  /* color: #fff; */

}

body{
  background-color: #222 !important;
  /* color: #fff !important; */
}

